<% greet = "Hello Colleges APP" %>
<% gmap_api_key = ENV["GOOGLEMAPSAPIKEY"] %>
<% gmap_mode = "place" %>
<% gmap_params = "q=Eiffel+Tower,Paris+France" %>
<% map_url = "https://www.google.com/maps/embed/v1/#{gmap_mode}?key=#{gmap_api_key}&#{gmap_params}" %>

<h1>
    <%= greet %>
</h1>
<p>Find me in app/views/colleges/index.html.erb</p>
<p>
    Testing the API Keys variables:
</p>

<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="<%= map_url %>"
  allowfullscreen>
</iframe>